/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px; 
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #246f75; 
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #227C85; 
}

::-webkit-scrollbar-thumb:active {
  background: #227C85; 
}

::-webkit-scrollbar-corner {
  background: transparent;
}


/* Project Image Scroll CSS */
.projectBgImg1 {
  cursor: pointer;
  background-position: top;
  transition: ease-in-out 8s;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 77vh;
}

.projectBgImg1 .img {
  background-image: url('./assets/ProjectAssets/Project1.jpg');
  background-size: cover;
  transition: ease-in-out 8s;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.projectBgImg1 :hover {
  background-position: bottom;
  transition: ease-in-out 18s;
}
.projectBgImg2 {
  cursor: pointer;
  background-position: top;
  transition: ease-in-out 8s;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 77vh;
}

.projectBgImg2 .img {
  background-image: url('./assets/ProjectAssets/Project2.jpg');
  background-size: cover;
  transition: ease-in-out 8s;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.projectBgImg2 :hover {
  background-position: bottom;
  transition: ease-in-out 18s;
}
.projectBgImg3 {
  cursor: pointer;
  background-position: top;
  transition: ease-in-out 8s;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 77vh;
}

.projectBgImg3 .img {
  background-image: url('./assets/ProjectAssets/Project3.jpg');
  background-size: cover;
  transition: ease-in-out 8s;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.projectBgImg3 :hover {
  background-position: bottom;
  transition: ease-in-out 8s;
}
.projectBgImg4 {
  cursor: pointer;
  background-position: top;
  transition: ease-in-out 8s;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 77vh;
}

.projectBgImg4 .img {
  background-image: url('./assets/ProjectAssets/bgimg01.jpg');
  background-size: cover;
  transition: ease-in-out 8s;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.projectBgImg4 :hover {
  background-position: bottom;
  transition: ease-in-out 8s;
}
/* TextSlider.css */
@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slide 30s linear infinite;
}

.group:hover .animate-slide {
  animation-play-state: paused;
}
/* About Section */
.AboutBg {
  background-image: url('./assets/AboutUs/AboutBg2.svg');
  background-size: cover;
  background-position: center;
  transition: background-image 3s ease;
}

.AboutBg:hover {
  background-image: url('./assets/AboutUs/AboutBgHover.svg');
}

.AboutBg1 {
  background-image: url('./assets/AboutUs/AboutBg.svg');
  background-size: cover;
  background-position: center;
  transition: background-image 3s ease
}

.AboutBg1:hover {
  background-image: url('./assets/AboutUs/AboutBgHover2.jpeg');
  background-size: 280px;
  background-position: center;
    
}
